MESH_MEDIA_HTTP_HOST=127.0.0.1
MESH_MEDIA_HTTP_PORT=8777
MESH_MEDIA_PUBLIC_BASE_URL=https://meshchat-losa.ru/media/v2
MESH_MEDIA_DOWNLOAD_TOKEN_TTL_SECONDS=600
MESH_MEDIA_SIGNING_SECRET=replace-with-at-least-32-random-bytes
MESH_MEDIA_OBJECT_ROOT=/root/mesh_messenger/data/server_file_storage/completed
